<div class="contextual">
<%= link_to l(:label_skill_category_new), {:controller => 'skills', :action => 'new_category'}, :class => 'icon icon-add' if User.current.allowed_people_to?(:edit_skill) %>
</div>

<h2><%=l(:label_skill_category)%></h2>

<% if @skill_categories.any? %>
<div class="autoscroll">
<table class="list" width = "400">
  <thead><tr>
  <th><%=l(:label_skill_category)%></th>
  <% if User.current.allowed_people_to?(:edit_skill) %>
  <th></th>
  <% end %>
  </tr></thead>
  <tbody>
<% @skill_categories.each do |category| %>
  <tr class="<%= cycle("odd", "even") %>">
  	<td class="name"><span><%= link_to category, {:controller => 'skills', :action => 'edit_category',:id =>category} %></span></td>
	  <% if User.current.allowed_people_to?(:edit_skill) %>
	  <td class="buttons">
	    <%= link_to(l(:button_delete), {:controller => 'skills', :action => 'remove_category', :id =>category, :method => :delete}, :class => 'icon icon-del') %>
	  </td>
  <% end %>
  </tr>
<% end %>
  </tbody>
</table>
</div>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>